# Summary of Unique Combinations of Water Rights to Beneficial Use Combinations

In [1]:
# Needed Libararies

# working with data
import os
import numpy as np
import pandas as pd
import geopandas as gpd

# visulizaiton
import matplotlib.pyplot as plt
import seaborn as sns

# Cleanup
from datetime import datetime
pd.set_option('display.max_columns', 999)  # How to display all columns of a Pandas DataFrame in Jupyter Notebook

In [2]:
#Setting work directory
workingDir = "C:/Users/rjame/Documents/WSWC Documents/WaDE Side Projects/20220316 Unique Ben Use Combos"
os.chdir(workingDir)

In [8]:
# SQL Results of AllocationAmounts Unique Benefical Use Combinations
fileInput = "Allocation_Benuse.csv"
dfload = pd.read_csv(fileInput)
print(len(dfload))
dfload.head(1)

C:\Users\rjame\AppData\Local\Temp\ipykernel_3112\1213955677.py:3: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  dfload = pd.read_csv(fileInput)

2070503

,AllocationAmountID,AllocationNativeID,AllocationOwner,AllocationFlow_CFS,AllocationVolume_AF,BenUse,WaDEBenUse,State
0,538015,10000,Unspecified,NaN,91.5,Irrigation,Agriculture Irrigation,KS

In [9]:
# Joining df on duplicates based on key fields.
df = dfload.copy()
df = df.replace(np.nan, "")  # Replaces NaN values with blank.
groupbyList = ['State', 'AllocationNativeID']
df = df.groupby(groupbyList).agg(lambda x: ','.join([str(elem) for elem in (list(set(x))) if elem!=''])).replace(np.nan, "").reset_index()
# df = df[columnslist]  # reorder the dataframe's columns based on columnslist
print(len(df))
df.head(1)

1311453

,State,AllocationNativeID,AllocationAmountID,AllocationOwner,AllocationFlow_CFS,AllocationVolume_AF,BenUse,WaDEBenUse
0,AZ,200016,1614169,SEE CANYON HOMES INC,,0.0,Public Supply,Municipal Irrigation

In [15]:
# Counting number of CFS, AF, and WaDEBenUse
def CountNumItems(val):
    val = str(val).strip()
    valList = val.split(",")
    outString = len(valList)
    return outString

df['Count_CFS'] = df.apply(lambda row: CountNumItems(row['AllocationFlow_CFS']), axis=1)
df['Count_AF'] = df.apply(lambda row: CountNumItems(row['AllocationVolume_AF']), axis=1)
df['Count_WBU'] = df.apply(lambda row: CountNumItems(row['WaDEBenUse']), axis=1)
df.head()

,State,AllocationNativeID,AllocationAmountID,AllocationOwner,AllocationFlow_CFS,AllocationVolume_AF,BenUse,WaDEBenUse,Count_CFS,Count_AF,Count_WBU
0,AZ,200016,1614169,SEE CANYON HOMES INC,,0.0,Public Supply,Municipal Irrigation,1,1,1
1,AZ,200027,1602289,JOHN KIECKHEFER,,0.0,UNUSED,Other,1,1,1
2,AZ,200028,1608015,JOHN KIECKHEFER,,0.0,Stock,Livestock,1,1,1
3,AZ,200030,1609617,CHARNEY 1996 TRUST,,0.0,UNUSED,Other,1,1,1
4,AZ,200032,1610893,CITY OF TUCSON - TUCSON WATER,,0.0,UNUSED,Other,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...
1311448,WY,P99706.0W,2789721,GENESIS ALKALI WYOMING LP,3600.0,,Industrial - Ground Water,Commercial/Industrial,1,1,1
1311449,WY,T2236.1-,2788023,,2.5,,Irrigation - Surface Water,Agriculture Irrigation,1,1,1
1311450,WY,T2582.0-,2788878,"SULLIVAN, J",0.0,,Unspecified,Unspecified,1,1,1
1311451,WY,T2822.0-,2787553,,4.85,,"Stock and Domestic,Irrigation - Surface Water","Agriculture Irrigation,Livestock",1,1,1
1311452,WY,T788.0-,2795178,TOWN OF SHERIDAN,16.0,,Unspecified,Unspecified,1,1,1

In [18]:
# sort CFS, AF, and WaDEBenUse
def CountNumItems(val):
    val = str(val).strip()
    valList = val.split(",")
    valList = sorted(valList)
    outString = ",".join(str(x) for x in valList)
    return outString

# df['AllocationFlow_CFS'] = df.apply(lambda row: CountNumItems(row['AllocationFlow_CFS']), axis=1)
# df['AllocationVolume_AF'] = df.apply(lambda row: CountNumItems(row['AllocationVolume_AF']), axis=1)
df['WaDEBenUse'] = df.apply(lambda row: CountNumItems(row['WaDEBenUse']), axis=1)
df.head()

,State,AllocationNativeID,AllocationAmountID,AllocationOwner,AllocationFlow_CFS,AllocationVolume_AF,BenUse,WaDEBenUse,Count_CFS,Count_AF,Count_WBU
0,AZ,200016,1614169,SEE CANYON HOMES INC,,0.0,Public Supply,Municipal Irrigation,1,1,1
1,AZ,200027,1602289,JOHN KIECKHEFER,,0.0,UNUSED,Other,1,1,1
2,AZ,200028,1608015,JOHN KIECKHEFER,,0.0,Stock,Livestock,1,1,1
3,AZ,200030,1609617,CHARNEY 1996 TRUST,,0.0,UNUSED,Other,1,1,1
4,AZ,200032,1610893,CITY OF TUCSON - TUCSON WATER,,0.0,UNUSED,Other,1,1,1

In [19]:
df['WaDEBenUse'].unique()

array(['Municipal Irrigation', 'Other', 'Livestock', ...,
       'Agriculture Irrigation,Commercial/Industrial,Hydroelectric',
       'Agriculture Irrigation,Domestic,In-stream Flow,Public Supply',
       'Aquifer Recharge,Livestock,Public Supply'], dtype=object)

In [20]:
df['WaDEBenUse'].nunique()

1863

In [ ]:
#Exporting to Finished File
df.to_csv('Allocation_Benuse_Unique.csv', index=False)  # The output